#newsletter {
    grid-area: newsletter;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.newsletter-container {
    display: flex;
    flex-flow: row nowrap;
    padding: 5px;
}
  
.newsletter-element {
    width: 30%;
}
  
input[type=text], input[type=submit] {
    text-align: center;
    width: 100%;
    padding: 12px;
    margin: 8px 5px;
    border: 1px solid #fffaf0;
    box-sizing: border-box;
}
  
input[type=submit] {
    font-size: 1.1em;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    background-color: #47d1e4;
    border: 2px solid #47d1e4;
    color: #fffaf0;
    transition: all 0.3s;
    border: none;
}
  
input[type=submit]:hover {
    background-color: transparent;
    border: 2px solid #47d1e4;
    color: #47d1e4;
    transform: scale(0.9);
}
